.MoviesCard {
    background-color: #222222;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    width: 360px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.MoviesCard:last-child {
    margin-left: 0;
}

.MoviesCard__title {
    box-sizing: border-box;
    padding: 18px 0 0 18px;
    margin: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.MoviesCard__length {
    padding: 18px 18px 0 0;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #8B8B8B;
    margin: 0;
}

.MoviesCard__image {
    flex-grow: 1;
    height: 200px;
    object-fit: contain;
}

.MoviesCard__button {
    width: 100px;
    height: 29px;
    margin: 0 auto;
    background: #313131;
    border-radius: 30px;
    border: none;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 11px;
}

.MoviesCard__button_inFavoriteMovieList{
    background: #EE3465 url("../../images/icons/movie__inFavorite.svg") no-repeat center;
}

.MoviesCard__button:hover {
    cursor: pointer;
    opacity: 0.3;
}

.MoviesCard__button_inFavoriteList {
    background: #313131 url("../../images/icons/movie__removeFromFavorite.svg") no-repeat center;
}

@media (min-width:320px) and (max-width: 767px) {
    .MoviesCard {
        width: 300px;
    }

    .MoviesCard__title {
        font-size: 12px;
        line-height: 18px;
    }

    .MoviesCard__length {
        font-size: 10px;
        line-height: 18px;
    }

    .MoviesCard__button {
        font-size: 12px;
        line-height: 11px;
    }
}

@media (min-width:768px) and (max-width: 1023px) {
    .MoviesCard{
        width: 342px;
    }
}