.Movies {
    min-height: 100vh;
    background-color: #202020;
    display: flex;
    flex-direction: column;
}

.Movies__null-search {
    padding: 0;
    padding-top: 20px;
    margin: 0;
    text-align: center;
    color: #FFFFFF;
}

.Movies__show-more-button {
    background-color: #2F2F2F;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    border: none;
    outline: none;
    padding-top: 11px;
    padding-bottom: 9px;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.Movies__show-more-button:hover {
    opacity: 0.3;
    cursor: pointer;
}