.AboutProject {
    background-color: var(--default-black);
    padding: 116px 70px 110px 70px;
}

.AboutProject__title {
    color: var(--default-white);
    text-align: left;
    /*display: inline-block;*/
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 27px;
    padding-bottom: 23px;
    border-bottom: 1px solid var(--border-grey);
    letter-spacing: -0.04em;
    font-weight: normal;
}

.AboutProject__stages-wrapper {
    display: flex;
    color: white;
    margin-top: 70px;
    justify-content: space-between;
    /*flex-wrap: wrap;*/
}

.AboutProject__stage {
    width: 500px;
}

.AboutProject__stageText {
    text-align: left;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
}
.AboutProject__stageSubtext {
    text-align: left;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    margin-top: 26px;
}

.AboutProject__progressBar {
    flex-grow: 1;
}

.AboutProject__progressBar {
    margin-top: 110px;
    height: 36px;
    display: flex;
}


.AboutProject__progressBarItem {
    padding: 10px 0;
    font-size: 14px;
    line-height: 17px;
}
.AboutProject__progressBarText {
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
}

.AboutProject__progressBarItem_backend {
    background-color: var(--toxic-green);
    flex-basis: 228px;
    color: #303030;
}

.AboutProject__progressBarItem_frontend {
    background-color: #303030;
    color: #FFFFFF;
    flex-grow: 1;

}

.AboutProject__progressBarItem_backend .AboutProject__progressBarText:after {
    position: absolute;
    content: "Back-end";
    display: block;
    top: 50px;
    color: #8B8B8B;
    white-space: nowrap;
}

.AboutProject__progressBarItem_frontend .AboutProject__progressBarText:after {
    position: absolute;
    display: block;
    content: "Front-end";
    top: 50px;
    color: #8B8B8B;
    white-space: nowrap;
}

