.MoviesCardList {
    background-color: #202020;
    /*background-color: #fff;*/
    padding: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 360px));
    grid-column-gap: 28px;
    grid-row-gap: 32px;
    flex-wrap: wrap;
}


@media (min-width:320px) and (max-width: 767px) {
    .MoviesCardList{
        grid-template-columns: 1fr;
        padding: 40px 10px;
        grid-column-gap: 0;
        grid-row-gap: 32px;
    }
}

@media (min-width:768px) and (max-width: 1023px) {
    .MoviesCardList{
        grid-template-columns: 1fr 1fr;
        padding: 70px 30px;
        grid-column-gap: 0;
        grid-row-gap: 32px;
    }
}