.Promo {
    background-color: var(--dark-blue);
    min-height: 100%;
    max-height: 598px;
    background-image: url('../../../images/icons/promo__background.svg');
    /*background-position: center;*/
    background-position-x: center;
    background-position-y: 57%;
    background-repeat: no-repeat;
    /*background-size: ;*/
}

.Promo__header {
    padding: 18px 70px;
}

.Promo__list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.Promo__listItem:first-child{
    flex-grow: 1;
}

.Promo__listItem:last-child{
    margin-left: 30px;
}
.Promo__link {
    color: var(--default-white);
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
}
.Promo__link:hover {
    cursor: pointer;
}

.Promo__link_auth_active {
    border-radius: 3px;
    background-color: var(--toxic-green);
    padding: 8px 20px;
}

.Promo__link_logo {
    display: block;
    width: 38px;
    height: 38px;
    background-image: url('../../../images/icons/icon_logo.svg');
}

.Promo__mainText {
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    color: var(--default-white);
    display: block;
    margin: 0;
    padding: 0;
    /*max-width: 730px;*/
    padding: 184px 275px 224px 275px;
}

@media (min-width: 426px) and (max-width: 1023px) {
    .Promo {
        max-height: 858px;
    }

    .Promo__header {
        padding: 21px 30px;
    }

    .Promo__mainText {
    padding: 326px 19px 342px 19px;
    }
}

@media (min-width: 320px) and (max-width: 425px) {
    .Promo {
        max-height: 644px;
    }

    .Promo__header {
        padding: 24px 14px;
    }

    .Promo__mainText {
        padding: 207px 10px 246px 10px;
        letter-spacing: -0.04em;
        font-size: 31px;
        line-height: 39px;
    }
}