.Login{
    background-color: #202020;
    min-height: 100vh;
    box-sizing: border-box;
}

.Login__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0;
    /*text-align: center;*/
}

.Login__form {
    display: flex;
    flex-direction: column;
    width: 396px;
    margin: 0 auto;
}

.Login__label {
    border-bottom: 1px solid #424242;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 5px;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
}

.Login__input {
    margin-top: 5px;
    background: none;
    outline: none;
    border: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.Login__label:nth-child(2){
    margin-top: 40px;
}
.Login__label:nth-child(n+3){
    margin-top: 24px;
}

.Login__button {
    margin-top: 134px;
    background: #4285F4;
    border-radius: 3px;
    height: 45px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}
.Login__button:hover {
    cursor: pointer;
    opacity: 0.3;
}
.Login__text {
    margin: 0;
    margin-top: 16px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
}

.Login__link {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4285F4;
    text-decoration: none;
}

.Login__link:hover {
    opacity: 0.3;
}

@media (min-width:320px) and (max-width: 767px) {
    .Login {

        padding: 0 30px 30px 30px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        /*justify-content: space-between;*/
    }

    .Login__form {
        display: flex;
        flex-direction: column;
        justify-self: center;
        width: 100%;
        margin: 0;
        flex: 1 1 auto;
    }

    .Login__button {
        margin-top: auto;
    }

    .Login__label:nth-child(2){
        margin-top: 80px;
    }

    .Login__title {
        text-align: center;
    }
}