@import url(./fonts/fonts.css);

body {
  margin: 0;
  font-family: 'Inter', ‘Arial’, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --default-black: #202020;
  --signal-black: #272727;
  --toxic-green: #3DDC84;
  --default-white: #FFFFFF;
  --default-grey: #8B8B8B;
  --light-black: #303030;
  --dark-blue: #073042;
  --border-grey: #DADADA;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
